.App {
  font-family: sans-serif;
}
.react-datepicker-wrapper {
  display: inline-block;
  width: 130px;
}
.react-datepicker__input-container > input {
  border: 1px solid blue;
  padding: 5px 16px;
  margin: 5px;
}
.startDate,
.endDate {
  margin: 5px 0;
}
.startDate > div,
.endDate > div {
  display: inline-block;
}
.datePickButton {
  margin: 3px;
  padding: 5px 15px;
}
.upperLabel {
  font-size: 25px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 5px;
}
.important {
  font-weight: bold;
  margin: 10px 0;
}
label {
  font-weight: bold;
  display: inline-block;
  width: 44px;
}
.errorLabel {
  color: red;
  font-weight: bold;
}
h1 {
  font-size: 25px;
}
